@import "tailwindcss";

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 50vw !important;
  min-width: 0 !important;
  max-width: 20vw !important;
  box-sizing: border-box !important;
  background: #fff !important;
}

@keyframes borderGlow {
  0%,100% { box-shadow: 0 0 0 0 #b01d27; }
  50% { box-shadow: 0 0 32px 8px #b01d27; }
}
.animate-borderGlow {
  animation: borderGlow 2.5s infinite;
}

